# Fichiers et dossiers système / temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store
*.log

# Dossier de venv ou environnement local
venv/
.env
.env.*

# Git
.git
.gitignore

# Fichiers de build locaux
*.egg-info/
dist/
build/

# Docker
Dockerfile
docker-compose.yml
